body {    
    display: flex;/*Πως θα τοποθετηθούν τα στοιχεία μέσα στο body*/
    flex-direction: column;/*Τα στοιχεία θα τοποθετηθούν κάθετα*/
    flex-wrap: wrap;/*Μας βοηθάει το header και το footer να έχουν τουλάχιστον το ιδιο πλάτος με το main ή και μεγαλύτερο ανάλογα την οθόνη*/
}

header {
    padding: 20px;/*Δημιουργία κενού εσωτερικά στο header γύρω από τα στοιχεία*/  
    display: flex;/*Πως θα τοποθετηθούν τα στοιχεία μέσα στο header*/
    flex-direction: row;/*Τα στοιχεία θα τοποθετηθούν οριζόντια*/
    align-items: center;/*Κεντράρισμα των εσωτερικών στοιχείων κάθετα*/
    background-color: #f2cc8f;
    border-radius: 5px;/*δημιουργία καμπύλης στις γωνίες*/
}

#logo {
    max-height: 150px;/*δίνεται σαν max για να οριστεί αυτόματα με βάση το πλάτος χωρίς να χαλάσουν οι αναλογίες*/
    width: 150px;/*ορισμός πλάτους*/
    margin:20px;/*δημιουργία κενού εξωτερικά μεταξύ άλλων στοιχείων*/
    border-radius: 30px;/*δημιουργία καμπύλης στις γωνίες*/
}

#title {
    margin:0 auto; /*δημιουργία κενού, αριστερό ίδιο με το δεξιό, πάνω κάτω 0*/
    align-items: center; /*Κεντράρισμα των εσωτερικών στοιχείων κάθετα*/   
}

#title * {/*επιλογέας όλων των στοιχείων του div*/
    text-align: center;/*τοποθέτηση κειμένων στο κέντρο*/
}

#signin_signup {  
    min-height: 50px;/*δίνεται με min για να μπορεί να μεγαλώνει το ύψος σε μικρές οθόνες και το κείμενο να είναι σε 2 γραμμές*/
    max-width: 150px;/*δίνεται σε max για να μπορεί να μικραίνει αυτόματα ανάλογα την οθόνη*/
    margin:20px;/*δημιουργία κενού εξωτερικά μεταξύ άλλων στοιχείων*/
    
}
/*επιλογέας των 2 στοιχείων στην μέση της σελίδας με id*/
.side { 
    display: flex;/*τοποθέτηση flex*/
    align-items: stretch;/*τα στοιχεία θα πάρουν όλο το ύψος*/
    flex-direction: row;/*κατεύθυνση flex οριζόντια*/
}
/*χαρακτηριστικά που θέλουμε όταν το main είναι side*/
main.side {
    width: 100%;
    padding: 20px;    
    justify-content: center;
}
/*χαρακτηριστικά που θέλουμε όταν το main είναι singcol*/
main.singcol {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*Τα table που είναι μέσα σε στοιχεία με το περιεχόμενο να είναι 1 στήλη*/
.col_table{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}
/*Χαρακτηριστικά που έχουν όλα τα κελιά πινάκων στο site*/
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
/*Background για τις γραμμές που εμφανίζονται σε άρτια σειρά*/
tr:nth-child(even) {
    background-color: #dddddd;
}  
/*Τα section tag με κλάση side*/
.side section {
    padding: 5px;
}
/*Κλάση col, δίνει την εμφάνιση στήλης*/
.col {
    display: flex;/*τοποθέτηση flex*/
    align-items: stretch;/*τα στοιχεία θα πάρουν όλο το ύψος*/
    flex-direction: column;/*κατεύθυνση flex κάθετα*/
    justify-content: center;
    width: 100%;
}
/*Nav tag*/
nav {  
    background-color: #3d405b;    
    border-radius: 5%;/*δημιουργία καμπύλης στις γωνίες*/
    width: min-content;
}
/*main tag*/
main {
    padding: 20px;/*Δημιουργία κενού εσωτερικά στο κυρίως περιεχόμενο γύρω από τα στοιχεία*/
}
/*Όλα τα a tag μέσα στο στοιχείο με id nav_li*/
#nav_li > a {
    padding: 15px;/*Δημιουργία κενού εσωτερικά στο κουμπί του μενού γύρω από τα στοιχεία*/
    font-weight: bold;
    text-decoration: none;/*να μην είναι υπογραμμισμένο και μπλε*/
    width: 100%;/*δίνει όλα το διαθέσιμο πλάτος*/
    text-align: center;/*τοποθέτηση κειμένων στο κέντρο*/
    margin: 2px;/*δημιουργία κενού εξωτερικά μεταξύ άλλων στοιχείων*/
    color: black;
    border-radius: 5px;/*δημιουργία καμπύλης στις γωνίες*/
    background-color: #f2cc8f;
}
/*Όλα τα a tag με κλάση current μέσα στο στοιχείο με id nav_li*/
#nav_li > a.current{
    background-color: #f4f1de;
    pointer-events: none;/*απενεργοποιεί τις δυνατότητες που έχουν τα κουμπιά*/
}
/*Όλα τα a tag που το ποντίκι περνάει από πάνω τους μέσα στο στοιχείο με id nav_li*/
#nav_li > a:hover {/*όταν περάσει το ποντίκι πάνω από το στοιχείο*/
    background-color: #ca9a4c;
}
/*Στοιχείο με id nav_li*/
#nav_li {
    padding: 20px;/*Δημιουργία κενού εσωτερικά στο μενού γύρω από τα στοιχεία*/
    padding-top: 50px;/*Δημιουργία κενού πάνω εσωτερικά στο μενού*/
    display: flex;/*τοποθέτηση flex*/
    flex-direction: column;/*κατεύθυνση flex οριζόντια*/
    align-items: center;/*Κεντράρισμα των εσωτερικών στοιχείων κάθετα*/
    padding-bottom: 50px;/*Δημιουργία κενού κάτω εσωτερικά στο μενού*/
}
/*footer tag*/
footer {
    display: flex;/*τοποθέτηση flex*/
    flex-direction: row;/*Τα στοιχεία θα τοποθετηθούν οριζόντια*/
    justify-content: center;/*τοποθέτηση στοιχείων στο κέντρο*/
    padding: 50px;/*Δημιουργία κενού εσωτερικά στο footer γύρω από τα στοιχεία*/
    background-color: #81b29a;
    border-radius: 5px;/*δημιουργία καμπύλης στις γωνίες*/
}
/*Ta tags a μέσα στο στοιχείο με tag footer*/
footer a{
    margin: 2px;/*δημιουργία κενού εξωτερικά μεταξύ άλλων στοιχείων*/
}
/*Όλα τα στοιχεία με κλάση clarification*/
.clarification {
    padding: 15px;/*δημιουργία εσωτερικού κενού*/
    background-color: #f2cc8f;
    color: #3d405b;
    width: fit-content;/*το πλάτος να είναι όσο και το περιεχόμενο*/
    border-radius: 5px;/*στρογγυλές άκρες*/
    box-shadow: 10px 10px 5px grey;/*δημιουργία σκιάς, 10 πίξελ κάτω 10 δεξιά, 5 διαφάνεια χρώματος γκρι*/
}
/*Όλα τα στοιχεία με κλάση announcement*/
.announcement {
    padding: 15px;/*δημιουργία εσωτερικού κενού*/
    background-color: #81b29a;
    width: fit-content;/*το πλάτος να είναι όσο και το περιεχόμενο*/
    border-radius: 5px;/*στρογγυλές άκρες*/
    align-self: center;
    box-shadow: 10px 10px 5px grey;/*δημιουργία σκιάς, 10 πίξελ κάτω 10 δεξιά, 5 διαφάνεια χρώματος γκρι*/
}
/*Όλα τα στοιχεία με κλάση warning*/
.warning {
    padding: 15px;/*δημιουργία εσωτερικού κενού*/
    background-color: #f94144;
    color: #f4f1de;
    width: fit-content;/*το πλάτος να είναι όσο και το περιεχόμενο*/
    border-radius: 5px;/*στρογγυλές άκρες*/
    box-shadow: 10px 10px 5px grey;/*δημιουργία σκιάς, 10 πίξελ κάτω 10 δεξιά, 5 διαφάνεια χρώματος γκρι*/
    align-self: center;
    position: relative;
}
/*Όλα τα στοιχεία με κλάση warning*/
.success {
    padding: 15px;/*δημιουργία εσωτερικού κενού*/
    background-color: #2a9d8f;
    color: #f4f1de;
    width: fit-content;/*το πλάτος να είναι όσο και το περιεχόμενο*/
    border-radius: 5px;/*στρογγυλές άκρες*/
    box-shadow: 10px 10px 5px grey;/*δημιουργία σκιάς, 10 πίξελ κάτω 10 δεξιά, 5 διαφάνεια χρώματος γκρι*/
    align-self: center;
    position: relative;
}
/*Σε όλα τα section που έχουν κλάση col βγάζουμε τα padding και margin*/
section.col *{ 
    margin: unset;
    padding: unset;    
}
/*Θέτουμε στην κλάση block padding και margin*/
.block {
    margin-top: 10px;
    margin-bottom: 20px;
}
/*Όλα τα tag form*/
form {
    border-style: solid;
    border-width: 3px;
    border-color: #3d405b;
    border-radius: 3px;
    padding: 10px;
    margin: 0 30 30 30;
    display: flex;
    flex-direction: column;
}
/*Όλα τα τα στοιχεία με κλάση field*/
.field {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/*Όλα τα στοιχεία με κλάση error*/
.error {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}
/*Στοιχεία με id role*/
#role {
    min-width: 177px;
}
/*Όλα τα input tags με type submit*/
input[type=submit],
input.submit {
    margin-top: 5px;
}
/*Όλα τα tag label*/
label {
    display: flex;
    padding: 0px 1em 0px 8px;
    justify-content: center;
}
/*Όλα τα input tags με type radio*/
input[type=radio],
input.radio {
    margin: 2px 0 0 2px;
}
/*Όλα τα στοιχεία με κλάση hidden_forms*/
.hidden_forms {    
    align-self: center;
    margin: 5px;
    border-style: none;
    padding: 0px;
}
/*Όλα τα input tags με κλάση button που είναι μέσα σε στοιχείο με κλάση hidden_forms*/
.hidden_forms > input.button{
    padding: 10px;
    background-color: #f2cc8f;
    border-color: #3d405b;
    border-radius: 5px;
}
/*Όλα τα input tags με κλάση button που περνάει το ποντίκι από πάνω και είναι μέσα σε στοιχείο με κλάση hidden_forms*/
.hidden_forms > input.button:hover{
    background-color: #ca9a4c;
}
/*Όλα τα input tags με κλάση button που είναι πατημένο το κλικ του ποντικιού πάνω τους και είναι μέσα σε στοιχείο με κλάση hidden_forms*/
.hidden_forms > input.button:active{
    background-color: #f4f1de;
}
/*Στοιχείο με id close*/
#close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5px 3px 1px 3px;
    background: #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    margin: 1px;
}
/*Στοιχείο με id close όταν περνάει το ποντίκι από πάνω του*/
#close:hover {
    float:right;
    display:inline-block;
    padding:0.5px 3px 1px 3px;
    background:#ccc;
    color:rgb(107, 107, 107);
}
/*Στοιχεία με κλάση col_item*/
.col_item {
    margin: 10px;
    justify-self: center;
    align-self: center;
}
/*Στοιχεία με κλάση slot*/
.slot {    
    display: block;
    width: auto;
    text-decoration: none;
    height: auto;
    padding: 8px;
    color: black;
    text-align: center;
}
/*Στοιχεία με κλάση slot όταν περνάει το ποντίκι από πάνω*/
.link_slot:hover {
    background-color: #3d405b;
    color: #ccc;
}
/*Στοιχεία με κλάση slot που είναι πατημένο το κλικ του ποντικιού πάνω τους*/
.link_slot:active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
/*Στοιχεία με κλάση timeslot*/
.timeslot {
    padding: 0;
}
/*Στοιχείο με id sideHiddenForms*/
#sideHiddenForms {
    padding: 0px;
    margin: 0px;
    align-self: center;
}
/*Στοιχείο με κλάση modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 /*Στοιχείο με κλάση modal-content*/
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;    
    position: fixed;
    bottom: 50%;
    left: 50%;;
}
/*Στοιχείο με κλάση closeModal*/
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/*Στοιχείο με κλάση closeModal όταν περνάει το ποντίκι από πάνω του*/
.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Στοιχείο με id hidden_modal_form*/
#hidden_modal_form {
    display: none;/*Κατά την αρχικοποίηση της σελίδας το modal είναι κρυμμένο*/
}
/*Στοιχείο με κλάση row_completed*/
.row_completed {      
    background: #81b29a!important;
}
/*Στοιχείο με κλάση row_incomplete*/
.row_incomplete {      
    background: #e07a5f!important;
}